<div class="container col-8" data-ng-controller="admin_controller">
  <h2 class="fw-light text-uppercase text-center mt-3">Admin Dashboard...!</h2>
  <div class="row mt-5">
    <div class="card shadow" style="height: 100%">
      <form name="select_form" data-ng-submit="admin_handler()">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">email</th>
              <th scope="col">user_type</th>
              <th scope="col">amount</th>
              <th scope="col">term</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in approvalData">
              <th scope="row">{{$index + 1}}</th>
              <td>{{x.email}}</td>
              <td>{{x.user_type}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.term}}</td>
              <td>
                <select ng-model="selected[x.email]">
                  <option value="">Select an option</option>
                  <option
                    ng-repeat="status in data.availableOptions"
                    ng-select="x.status"
                    value="{{status.status}}"
                  >
                    {{status.status}}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mb-2">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
